/*RESETEO BÁSICO*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* ESTILOS GENERALES */

.enfasis {
    font-style: italic;
    font-weight: bolder;
}

.fondo_negro {
    color: white;
    background-color: black;
}

/* HEADER */

header {
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-around;
    /* NO TENGO ESTE*/
    align-items: center;
    padding: 20px;
}

header>nav ul {
    display: flex;
}

header>nav ul li {
    margin-right: 20px;
    list-style: none;
}

header>nav ul li a {
    color: white;
    text-decoration: none;
}

header>nav ul li a:hover {
    color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #777;
    padding: 10px;
    text-align: center;
}

/* Pseudoclases para filas impares */
tr:nth-child(odd) {
    background-color: #f2f2f2;
    /* gris claro */
}

/* Pseudoclases para filas pares */
tr:nth-child(even) {
    background-color: #d9edf7;
    /* azul claro */
}

/* Estilo opcional para el encabezado */
th {
    background-color: blueviolet;
    /* verde */
    color: white;
}

tr:hover {
    background-color: #FADBD8;
    /* Rojo muy suave al pasar el ratón */
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
}

#hero {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 2em;
    }

    p {
        color: purple;
        width: 50%;
        text-align: center;
    }
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        border-radius: 20px;
        width: 50%;
        height: 400px;
    }
}

footer {
    width: 100%;
    height: 60px;
    background-color: black;
    /**/
    color: white;
    /**/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /**/
    font-size: 1em;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: grey;
}

/* Media query para móviles */
@media (max-width: 600px) {
    body {
        overflow-y: auto;
        /* Scroll vertical */
        overflow-x: hidden;
        /* Sin scroll horizontal */
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    footer {
        font-size: 0.6em;
    }

    nav ul {
        flex-direction: column;
    }

    img,
    video {
        width: 100%;
    }

    p {
        width: 100%;
    }
}